html{
	width: 100%; height: 100%;
}

body{
	margin: 0px; padding: 0px;
}

.footer{
    position: fixed;
    top: 3px;
    left: 10px;
    padding: 2px;
    display: grid;
}

.controller{
    position: fixed;
    top: 10px;
    right: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.1);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
.camera-controller{
    position: fixed;
    top: 30px;
    left: 20px;
    width: 300px;
    background-color:rgba(192,192,192,0.2);
    padding: 10px;
    display: grid;
    button {
        margin: 5px;
    }
}
